/* formstyling*/

.formfontsize {
    font-size: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

}

/*styling for back to profile*/
.backToProfile {
    font-size: 20px;
    padding: 5px, 5px;
    text-align: right;


}

/* /*profilr pic styling */
.profilePicture {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}